---
// src/components/Cards.astro
import { Image } from "astro:assets";

interface Props {
  image: ImageMetadata;
  title: string;
  summary: string;
  link: string;
}

const { image, title, summary, link } = Astro.props;
---

<div class="card max-w-sm overflow-hidden">
  <Image
    src={image}
    alt={title}
    class="w-full h-48 object-cover object-center"
  />
  <div class="px-6 py-4">
    <div class="font-bold text-xl mb-2 text-theme-text-primary">{title}</div>
    <p class="text-theme-text-secondary text-base">
      {summary}
    </p>
  </div>
  <div class="px-6 pt-4 pb-2">
    <a
      href={link}
      class="link-primary">Learn More</a
    >
  </div>
</div>
